__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
*.log
.DS_Store
uploads/
results/
crops/
labels/
categorized_sperms/
__pycache__/
*.pyc
.DS_Store
*.log

# Model dosyaları GitHub LFS budget aşıldığı için Git'ten çıkarıldı
# Build sırasında cloud storage'dan indirilecek
models/*.pt
models/*.pth
models/head/*.pth
models/neck/*.pth
models/tail/*.pth

